import("ROI")
import("clarabel")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("stats", "terms")
importFrom("slam", "simple_triplet_matrix")
importFrom("slam", "as.simple_triplet_matrix")
export(vech)
S3method("ROI_plugin_solution_psd", "clarabel_solution")
